:root {
  --main-bg-color: #382119;
}

html, body {
  border: 0;
  margin: 0;
  padding: 0;
}

body { background-color: #ebebeb; }

.container {
  margin: 0 auto;
  max-width: 960px;
}

.logo { max-width: 60px; }

.topo { max-height: 600px; }

.navbar {
  background-color: var(--main-bg-color);
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.botoes a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

#sobre {
  background-color: white;
  padding: 80px;
}

h2 { font-family: "Pacifico"; }

.sobre-content {
  display: flex;
  column-gap: 75px;
  align-items: center;
}

.sobre-content img { 
  border-radius: 50%;
  max-width: 320px;
  max-height: 320px;
}

#menu {
  background-color: var(--main-bg-color);
  padding: 80px;
}

#menu h2 { color: white; }

.cards img {
  max-width: 170px;
  border-radius: 50%;
}

.cards {
  display: flex;
  column-gap: 30px;
}

.lanche {
  background-color: white;
  padding: 6px;
  border-radius: 4px;
}

#local {
  background-color: #d3c39d;
  padding: 80px;
  display: flex;
  column-gap: 70px;
}

.local-txt { 
  text-justify: justify;
}

.footer {
  background-color: var(--main-bg-color);
  padding: 10px;
  color: white;
}

.footer {
  text-align: center;
  vertical-align: middle;
}

@media all and (max-device-width: 960px) {
  .cards {
    flex-wrap: wrap;
  }
}